.rainbow-text {
    display: inline;
    font-family: sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #ffaaaa;
    text-shadow:
    2px 0px #000000,
    -2px 0px #000000,
    0px 2px #000000,
    0px -2px #000000,
    2px -2px #ef3550,
    4px -4px #f48fb1,
    8px -8px #a0d2fd,
    10px -10px #7e57c2;
}

.gif-emoji {
    display: inline;
    width: 1em;
    height: 1em;
}

.void-text {
    background-color: black;
    color: red;
}

.void-text a:link {
    color: pink;
}

.void-text a:visited {
    color: pink;
}

.flip-text {
    display: inline-block;
    color: #0b0080;
    cursor: pointer;
}

.flipping-text {
    animation: spin 3s linear;
    -webkit-animation:spin 3s linear;
    -moz-animation:spin 3s linear;
}
@-moz-keyframes spin {
    50% { -moz-transform: rotate(180deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    50% {transform: rotate(180deg);}
    100% {transform:rotate(360deg);}
}