.rainbow-text {
    display: inline;
    font-family: sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #ffaaaa;
    text-shadow:
    2px 0px #000000,
    -2px 0px #000000,
    0px 2px #000000,
    0px -2px #000000,
    2px -2px #ef3550,
    4px -4px #f48fb1,
    8px -8px #a0d2fd,
    10px -10px #7e57c2;
}

.gif-emoji {
    display: inline;
}