.agent-form {
    display: flex;
    flex-direction: column;
}

.agent-form legend {
    font-size: 1.2em;
}

.agent-form button {
    margin: 1em;
}

.physarum {
    width: 100%;
    min-height: 500px;
}

.gradient-picker {
    display: flex;
    justify-content: space-around;
}

.gradient-picker label {
    display: inline-block;
}

.gradient-picker input {
    margin-top: 0.5em;
    display: inline-block;
    position: relative;
}

@media (max-width: 984px) {
    .physarum {
        order: 0;
    }
}
